<header class="p-6">
    <div class="container mx-auto flex">
        <%= link_to 'Crowdguess', root_path %>
        <nav class="flex pl-16">
            <%= link_to 'Prizes', prizes_path %>
        </nav>
    </div>
</header>
